.header {
  width: 100%;
  padding: 10px 50px;
  border-bottom: 0.5px solid #969696;
  margin-bottom: 20px;

  @media screen and (max-width: 420px) {
    padding: 10px 15px;
  }
  &__right {
    display: flex;
    justify-content: end;
    align-items: center;
  }
  &__center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__row {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
  }
}