.hero-screen {
  width: 100%;
  background: url('/images/main.png') no-repeat center;
  height: 615px;
  border-radius: 8px;

  @media screen and (max-width: 420px) {
    height: 438px;
  }

  &__title {
    font-size: 72px;
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
    font-family: 'Bad', serif;
    padding-top: 90px;
    display: block;

    @media screen and (max-width: 420px) {
      font-size: 48px;
    }
  }

  &__action {
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    @media screen and (max-width: 420px) {
      flex-direction: column;
    }

  }

  &__text {
    font-size: 24px;
    font-weight: 400;
    max-width: 670px;
    line-height: 140%;

    @media screen and (max-width: 420px) {
      font-size: 18px;
    }
  }
}